.features_heading{
    color: #f9004d;
    letter-spacing: 2px;
    line-height: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}
.features_head_line{
    color: #3c3e41;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
}
.fcards_container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(355px,1fr));
    gap:20px;
}
.card{
    background:  linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    width: 400px;
    height: 344px;
    display: flex;
    align-items: center;
    transition: 0.4s;
    border-radius: 10px;
    color: #6a6d70;
    margin-top: 10px;
    margin-left: 10px;
}
.card_inner_div{
    width: 80%;
    height: 80%;
    margin: auto auto;
}
.fcard_icon{
    color: #f9004d;
    font-size:50px;
}
.card:hover{
    background: linear-gradient(145deg, #ff014f, #d11414);
    color: white;
    top:-4px;
}
.card:hover .fcard_icon{
    color: white;
}
.card h3{
    font-size: 20px;
}
