.footer_img_div{
        border: 4px solid rgb(227, 226, 226);
        width: fit-content;
        height: 60px;
        border-radius: 50px;
        overflow: hidden;
        margin: auto auto;
}
.footer_img_div  img{
    width: 60px;
    height: 60px;
    }
.footer_section_heading{
    color: #f9004d;
    letter-spacing: 2px;
    line-height: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}
.footer_sec_head{
    color: #3c3e41;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
}
.footer_sec_header_div{
    text-align: center;
}
.contactInfo p{
    text-align: center;
    font-size: 1.5rem;
}

@media screen and (max-width:962px){
.footer_sec_head{
    font-size: 30px;
}
.contactInfo p{
    font-size: 15px;
}
}